.idea
cheaf_test_tecnico/.idea/
/.idea/
.idea/worspace.xml
/.idea/*

venv*/
.env
cheaf_test_tecnico/.env

/media/
media/
media/*

cheaf_test_tecnico/.settings.py.swp

*.swp
backend/__init__.pyc

django.log

settings.ini

.python-version