# Django vars
SECRET_KEY=

ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
CORS_ORIGIN_WHITELIST=
BASE_URL=

# Databases Config
CLIENT_NAME=
DB_ENGINE=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=

# Emails Credentials
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=